
.logo{
    width: 6vw;
}

h5{
font-family: 'Henny Penny','Pattaya'; 
}

.adjustSlide{
    width: 100%;
    margin: auto;
}



.carousel-inner img{
    height: 80vh;
}

.navbar ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navItem{
    padding-right: 3%;
    padding-left: 3%;
}

.navbar a{
    text-decoration: none;
}


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerTitles{
    display: flex;
}

.footernav{
    list-style-type: none;
}